@font-face {
    font-family: 'Reklame-medium';
    src: url(/assets/fonts/Reklamescript/Reklame\ Script\ W00\ Medium.ttf);
    font-weight: 100;
}
@font-face {
    font-family: 'Brandon grot';
    src: url(/assets/fonts/Brandon-grot/Brandon\ Grot\ W01\ Light.ttf);
    font-weight: 100;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: auto;
    background-image: url('/images/landing-page/island_cropped_2_blur.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Header styles starts from here */

header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}
.lp-left-header {
    width: 14%;
    height: 100%;
    margin-left: 17.5%;
}
/* .lp-left-image-wrapper {
    width: 100%;
    height: auto;
    background-image: url('/images/landing-page/hdr-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}
.lp-left-image-wrapper h1 {
    font-family: 'Reklame-medium';
    color: #FFAE7E;
    font-weight: lighter;
    font-size: 1.8rem;
} */
.lp-left-image-wrapper img {
    width: 45%;
}
.lp-mb-right-header {
    display: none;
}
.lp-right-header {
    width: 25%;
    height: auto;
    margin-right: 17.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}
.lp-right-header a {
    text-decoration: none;
    font-family: 'Reklame-medium';
    font-weight: lighter;
    font-size: 1.5rem;
    color: white;
    margin: 0 0.7rem;
}

/* Header styles ends here */

/* Game description styles starts from here */

.lp-game-desc-container {
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 10rem;
}
.lp-game-desc-sec1 {
    width: 28%;
    height: auto;
    padding-left: 22%;
    padding-top: 8%;
}
.lp-game-desc-sec1 h1 {
    font-family: 'Reklame-medium';
    color: white;
    font-weight: lighter;
    font-size: 2.2rem;
    margin-bottom: 0.3rem;
}
.lp-game-desc-sec1 h3 {
    font-family: 'Brandon grot';
    color: white;
    font-weight: lighter;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.lp-game-desc-sec1 p {
    width: 100%;
    font-family: 'Brandon grot';
    color: white;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.lp-game-desc-sec1-stores {
    width: 87%;
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
}
.lp-mb-game-social-wrap {
    display: none;
}
.lp-game-desc-sec2 {
    width: 35%;
    height: auto;
    padding-top: 2rem;
    padding-left: 5%;
    padding-right: 18%;
}
.lp-game-desc-sec2-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lp-game-desc-sec2-wrapper img {
    width: 60%;
}
.lp-game-desc-mobile-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/* Game description styles ends here */

/* Game key features styles starts from here */

.lp-key-ftrs-container {
    width: 100%;
    height: auto;
}
.lp-key-ftrs-top-img {
    width: 100%;
    height: 8vh;
    background-image: url('/images/landing-page/key-ftr-tp-bg.webp');
    background-size: cover;
    background-position-x: center;
}
.lp-key-ftrs-contents {
    width: 100%;
    height: auto;
    display: flex;
    background-image: url('/images/landing-page/key-ftr-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.lp-key-ftrs-content-sec1 {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
}
.lp-key-ftrs-content-sec1 img {
    width: 40%;
    margin-right: 4.5rem;
    margin-top: -9rem;
}
.lp-ftr-animate {
    position: relative;
    animation: move 2s infinite;
}
@keyframes move {
    0%{
        bottom: 0rem;
    }
    50% {
        bottom: 3rem;
    }
    100% {
        bottom: 0rem;
    }
}
.lp-key-ftrs-content-sec2 {
    width: 55%;
    height: auto;
    padding-top: 7.4rem;
    padding-bottom: 17rem;
}
.lp-key-ftrs-content-sec2 h1 {
    font-family: 'Reklame-medium';
    font-weight: lighter;
    font-size: 3.4rem;
    color: #4A2359;
    margin-bottom: 0.8rem;
}
.lp-key-ftrs-content-sec2 h3 {
    font-family: 'Brandon grot';
    font-weight: lighter;
    font-size: 1.5rem;
    color: #4A2359;
    margin-bottom: 3rem;
}
.lp-key-ftrs-content-sec2 ul {
    width: 60%;
}
.lp-key-ftrs-content-sec2 li {
    font-family: 'Brandon grot';
    font-size: 1.4rem;
    color: #4A2359;
}
.lp-key-ftrs-content-sec2 li::marker {
    font-size: 0.7rem;
}

/* Game key features styles ends here */

/* Game screens styles starts from here */

.lp-game-scrns-container {
    width: 100%;
    height: auto;
    background-color: #FDA878;
    padding-top: 6.5rem;
    padding-bottom: 3.5rem;
    overflow: hidden;
}
.lp-game-scrns-container h1 {
    font-family: 'Reklame-medium';
    font-weight: lighter;
    font-size: 3.4rem;
    color: #4A2359;
    text-align: center;
}
.lp-game-imgs-wrap {
    width: 100%;
    height: auto;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
}
.lp-game-img-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    pointer-events: none;
}
.lp-game-img-wrapper .lp-game-hearts{
    position: absolute;
    bottom: 4%;
    left: 10%;
    font-size: 1.3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    pointer-events: visible;
}
.lp-game-hearts .lthrt {
    position: absolute;
    bottom: 4.2%;
}
.lp-game-hearts .sldhrt {
    color: red;
    position: absolute;
    bottom: 4.2%;
}
.lp-game-img-wrapper p {
    font-family: 'Brandon grot';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: 4.5%;
    left: 22%;
}
.lp-game-img-wrapper .fa-share {
    position: absolute;
    bottom: 5%;
    right: 10%;
    font-size: 1.3rem;
    pointer-events: visible;
}
.lp-game-img {
    width: 22.5%;
    height: auto;
    position: relative;
    cursor: pointer;
}
.lp-game-img:hover .lp-game-img-wrapper {
    opacity: 1;
}
.lp-game-img:first-child {
    margin-left: -5.2%;
}
.lp-game-img:last-child {
    margin-right: -5.2%;
}
.lp-game-img img {
    width: 100%;
    height: auto;
}
.lp-game-screen-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: #f9907a;
}
.lp-game-scrn-mdl-top {
    width: 100%;
    height: 10%;
    display: flex;
}
.lp-game-scrn-mdl-top-sec1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2%;
}
.lp-game-scrn-mdl-top-sec1 button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.lp-game-scrn-mdl-top-sec1 button:nth-child(2) {
    display: none;
}
.lp-game-scrn-mdl-top-sec1 .fa-down-left-and-up-right-to-center {
    color: white;
    font-size: 1.8rem;
}
.lp-game-scrn-mdl-top-sec1 .fa-up-right-and-down-left-from-center {
    color: white;
    font-size: 1.8rem;
}
.lp-game-scrn-mdl-top-sec1 .fa-share {
    color: white;
    font-size: 1.8rem;
    margin: 0 3.5rem;
    cursor: pointer;
}
.lp-game-scrn-mdl-top-sec1 .fa-heart {
    color: white;
    font-size: 1.5rem;
}
.lp-game-scrn-mdl-top-sec2 {
    display: block;
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.lp-game-scrn-mdl-top-sec2 button {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 5%;
    cursor: pointer;
}
.lp-game-scrn-mdl-top-sec2 button .fa-x {
    color: white;
    font-size: 2rem;
}
.lp-game-full-img {
    width: 100%;
    height: 90%;
    display: flex;
}
.lp-game-full-img-sec1 {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.lp-game-full-img-sec1 img {
    width: 30%;
    height: 90%;
}
.lp-game-full-img-sec1-full-scrn {
    width: 100%;
    padding-top: 2%;
}
.lp-game-full-img-sec1-full-scrn img {
    width: 25%;
    height: 90%;
}
.lp-game-full-img-sec2 {
    width: 30%;
    height: 100%;
    font-family: 'Brandon grot';
}
.lp-game-full-img-sec2 h2 {
    width: 80%;
    color: white;
    font-weight: lighter;
    line-height: 1.6;
}
.lp-game-full-img-sec2 h2:first-child {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

/* Press review styles starts from here */

.lp-press-review-container {
    width: 100%;
    height: auto;
    background-color: #F9907A;
    padding: 4rem 0;
}
.lp-press-review-container h1 {
    font-family: 'Reklame-medium';
    font-weight: lighter;
    font-size: 3.4rem;
    color: #4A2359;
    text-align: center;
}

/* Press review slider starts from here */

.slideshow-container {
    width: 90%;
    margin: auto;
  }
.mySlides {
    display: none;
    width: 100%;
    height: auto;
    padding-top: 6rem;
    background-image: url('/images/landing-page/review-txt-bg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lp-review-stars {
    width: 50%;
}
.lp-review-stars .fa-star {
    font-size: 1.8rem;
    color: #7E5653;
}

/* Active star styles */

.lp-reviewed-star {
    color: #F9CE46 !important;
}
.mySlides h1 {
    font-family:'Brandon grot';
    font-weight: lighter;
    font-size: 2.25rem;
    color: white;
    margin: 1.1rem 0;
}
.mySlides h5 {
    font-family: 'Brandon grot';
    font-weight: lighter;
    text-align: center;
    font-size: 1rem;
    color: white;
    margin-bottom: 3rem;
}
.mySlides p {
    width: 45%;
    font-family: 'Brandon grot';
    font-size: 1.35rem;
    text-align: center;
    line-height: 1.6;
    color: white;
    margin-bottom: 5rem;
}
.lp-review-dots {
    margin-top: 7rem;
    text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Press review slider ends here */

/* Press review styles ends here */

/* Social and page indicator styles starts from here */

.lp-social-float-container {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    padding: 1rem 0.6rem;
    position: fixed;
    left: 2%;
    top: 41%;
    background-color: #ffc37b;
}
.lp-social-float-container img {
    margin-bottom: 0.5rem;
}
.lp-social-float-container img:last-child {
    margin-bottom: unset;
}
.lp-scroll-indicators {
    position: fixed;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.lp-scroll-indicators a {
   position: relative;
}

.lp-scroll-indicators a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 3px solid #f9937a;
}
.lp-scroll-indicators a.active1::after {
    border: unset;
    background-color: #fa9f8c;
    transform: translate(-50%, -50%) scale(2);
}

/* Footer styles starts from here */

.lp-footer-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    background-color: rgba(74,35,89,0.2);
}
footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/landing-page/ftr-bg-img.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5rem;
}
.lp-footer-dwnld-play {
    width: 35%;
    height: auto;
    background-image: url('/images/landing-page/dld-ply-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem 0;
    margin-top: 8rem;
}
.lp-footer-dwnld-play h1 {
    font-family: 'Reklame-medium';
    font-weight: lighter;
    color: #4A2359;
    text-align: center;
    font-size: 2.4rem;
    line-height: 1;
    margin-left: 2rem;
}
.lp-footer-stores {
    width: 27%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
footer p {
    font-family: 'Brandon grot';
    color: #E0BCCD;
    font-size: 0.9rem;
    margin: 5rem 0;
}

/* Footer styles ends here */

@media only screen and (max-width: 768px) {

    /* Header styles starts from here */

    .lp-left-header {
        width: 50%;
        margin-left: 7%;
    }
    .lp-left-image-wrapper h1 {
        font-size: 1.3rem;
    }
   .lp-right-header {
       display: none;
   }
   .lp-mb-right-header {
    display: block;
    margin-right: 5%;
   }
   .lp-mb-right-header button {
      border: none;
      background-color: transparent;
      cursor: pointer;
   }
   .lp-mb-right-header button .fa-bars {
    font-size: 1.8rem;
    color: #FFAE7E;
   }
   .lp-mb-nav-contents {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30%;
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #4A2359;
    transition: all 0.4s ease-in-out;
   }
   .lp-mb-nav-contents button {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 5%;
    top: 6.5%;
    cursor: pointer;
   }
   .lp-mb-nav-contents button .fa-x {
     color: #FFAE7E;
     font-size: 1.8rem;
   }
   .lp-mb-nav-contents a {
    font-family: 'Reklame-medium';
    text-decoration: none;
    color: #FFAE7E;
    font-size: 1.8rem;
    margin-bottom: 2rem;
   }

   /* Game description styles starts from here */

   .lp-game-desc-container {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: unset   ;
   }
   .lp-game-desc-sec1 {
    width: 100%;
    height: auto;
    margin: auto;
    padding-left: unset;
   }
   .lp-game-desc-sec1 h1 {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
   }
   .lp-game-desc-mobile-wrapper {
    width: 100%;
    height: auto;
    padding: 12% 0;
    display: flex;
   }
   .lp-game-desc-mobile-wrapper img {
    width: 80%;
    height: auto;
    border-radius: 1rem;
   }
   .lp-game-desc-sec1 h3 {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
   .lp-game-desc-sec1 p {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: unset;
   }
   .lp-game-desc-sec1-stores {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: unset;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .lp-mb-game-social-wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: #7f4e91;
   }
   .lp-mb-game-social-wrap img {
    margin-right: 1rem;
   }
   .lp-game-desc-sec2 {
    display: none;
   }

   /* Key features styles starts from here */

   .lp-key-ftrs-contents {
    justify-content: center;
    align-items: center;
   }
   .lp-key-ftrs-content-sec1 {
    display: none;
   }
   .lp-key-ftrs-content-sec2 {
       width: 85%;
       padding-top: unset;
       padding-bottom: 10rem;
   }
   .lp-key-ftrs-content-sec2 h1 {
        font-size: 2.5rem;
   }
   .lp-key-ftrs-content-sec2 h3 {
        font-size: 1.2rem;
        margin-bottom: 2rem;
   }
   .lp-key-ftrs-content-sec2 ul {
        width: 90%;
        margin: auto;
   }
   .lp-key-ftrs-content-sec2 li {
    font-size: 1.1rem;
   }

   /* Game screens styles starts from here */

   .lp-game-scrns-container {
    padding-top: 2rem;
    padding-bottom: unset;
   }
   .lp-game-scrns-container h1 {
    font-size: 2.4rem;
   }
   .lp-game-imgs-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
   }
   .lp-game-img {
    width: 90%;
    margin-bottom: 1rem;
   }
   .lp-game-img:first-child {
    margin-left: unset;
   }
   .lp-game-img:last-child {
    margin-right: unset;
   }
   .lp-game-full-img {
    flex-direction: column;
    overflow-y:scroll;
   }
   .lp-game-full-img-sec1 {
    width: 100%;
   }
   .lp-game-full-img-sec1 img {
    width: 70%;
   }
   .lp-game-full-img-sec2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .lp-game-full-img-sec2 h2 {
    width: 90%;
    font-size: 1.4rem;
    line-height: 1.3;
   }
   .lp-game-full-img-sec2 h2:first-child {
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    .lp-game-scrn-mdl-top-sec1 button:first-child {
        display: none;
    }
    .lp-game-scrn-mdl-top-sec1 button:nth-child(2) {
        display: block;
        margin-left: 5%;
    }
    .lp-game-scrn-mdl-top-sec1 button .fa-arrow-left-long {
        color: white;
        font-size: 1.8rem;
    }
    .lp-game-scrn-mdl-top-sec1 {
        width: 100%;
    }
    .lp-game-scrn-mdl-top-sec1 .fa-share {
        margin: unset;
        position: absolute;
        right: 10%;
        font-size: 1.5rem;
    }
    .lp-game-scrn-mdl-top-sec1 .fa-heart {
        position: absolute;
        right: 30%;
        font-size: 1.5rem;
    }
    .lp-game-scrn-mdl-top-sec2 {
        display: none;
    }

   /* Press review styles starts from here */

   .lp-press-review-container {
    padding: 2rem 0;
   }
   .lp-press-review-container h1 {
    font-size: 2.4rem;
   }

   /* Press review slider starts from here */

   .mySlides {
    background-image: unset;
    padding-top: 2.5rem;
   }
   .lp-review-stars {
    width: 100%;
   }
   .mySlides h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
   }
   .mySlides h5 {
    margin-bottom: 1.5rem;
   }
   .mySlides p {
    width: 90%;
    font-size: 1.2rem;
    margin-bottom: 3rem;
   }
   .lp-review-dots {
    margin-top: unset;
   }
   .lp-social-float-container {
    display: none;
   }
   .lp-scroll-indicators {
    display: none;
   }

   /* Footer styles starts from here */
    
   footer {
    margin-top: unset;
   }
   .lp-footer-dwnld-play {
    width: 90%;
    margin-top: 4rem;
    padding: 0.5rem 0;
   }
   .lp-footer-dwnld-play h1 {
    font-size: 1.4rem;
   }
   .lp-footer-stores {
    width: 60%;
    margin-top: 2rem;
    flex-direction: column;
    margin-bottom: 2rem;
   }
   .lp-footer-stores img {
    margin-bottom: 1rem;
   }
   footer p {
     text-align: center;
     margin-bottom: 2rem;
     margin-top: unset;
   }

}